[submodule "third_party/unitree_sim_isaaclab"]
	path = third_party/unitree_sim_isaaclab
	url = https://github.com/unitreerobotics/unitree_sim_isaaclab.git
	ignore = dirty
[submodule "third_party/LabUtopia"]
	path = third_party/LabUtopia
	url = https://github.com/Rui-li023/LabUtopia.git
	ignore = dirty
[submodule "third_party/hug"]
	path = third_party/hug
	url = https://github.com/KevinyWu/hug.git
